In [1]:
a = 2
b = 5
a+b

7

In [2]:
a/b

0.4

In [3]:
a//b

0

In [4]:
c = 10
d = 3
c%d

1

In [5]:
c = c+3
c

13

In [7]:
c += 5
c

23

In [8]:
c -= 2
c

21

In [9]:
c *= 2
c

42

# operator presidence

In [10]:
(3+2)*2+5/2

12.5

# power exponent
3**2

In [11]:
3**2

9

# integer and float

In [12]:
a1 = 123
type

type

a1 = 123 #integer
type

# comparison operators
equal== not equal greater less answer will be bulian

# concatenating text strings 
jorna

In [13]:
first_name = 'Arshmah'
last_name = 'Umair'
print(first_name+" "+last_name)

Arshmah Umair

In [14]:
first_name = 'Arshmah'
last_name = 'Umair'
print(first_name+last_name)

ArshmahUmair

In [15]:
len(first_name)

7

# type casting
string and integer cannot contacenate so we change integer into string

In [16]:
a = 10 
type(a)

int

In [17]:
str=a

In [19]:
print("the number is" + stra)

NameError: name 'stra' is not defined